{% load static %}


<footer class="footer">
  <div class="container">

    <div class="footer-top">

      <div class="footer-brand">
        <a href="" class="logo">
          <img src="{% static 'images/' %}logo.png" alt="AGENCE DE LOCATION DE VOITURE">
        </a>

        <p class="footer-text">
          Recherchez des voitures de location abordables au Maroc. Avec une flotte diversifiée de véhicules, CARSRENTAL propose à ses clients une sélection attrayante et amusante.
        </p>
      </div>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Agencies in France</p>
      </li>
      <li>
          <span class="footer-link">Paris</span>
      </li>
      <li>
          <span class="footer-link">Lyon</span>
      </li>
      <li>
          <span class="footer-link">Marseille</span>
      </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Agencies in Spain</p>
      </li>
      <li>
          <span class="footer-link">Madrid</span>
      </li>
      <li>
          <span class="footer-link">Barcelona</span>
      </li>
      <li>
          <span class="footer-link">Seville</span>
      </li>
      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Destinations au Maroc</p>
        </li>

        <li>
          <a href="" class="footer-link">Casablanca</a>
        </li>

        <li>
          <a href="" class="footer-link">Marrakech</a>
        </li>

        <li>
          <a href="" class="footer-link">Rabat</a>
        </li>

        <li>
          <a href="" class="footer-link">Tanger</a>
        </li>

        <li>
          <a href="" class="footer-link">Agadir</a>
        </li>

        <li>
          <a href="" class="footer-link">Fès</a>
        </li>

        <li>
          <a href="" class="footer-link">Essaouira</a>
        </li>

        <li>
          <a href="" class="footer-link">Ouarzazate</a>
        </li>

      </ul>

    </div>

    <div class="footer-bottom">

      <ul class="social-list">

        <li>
          <a href="" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

        <li>
          <a href="" class="social-link">
            <ion-icon name="mail-outline"></ion-icon>
          </a>
        </li>

      </ul>

      <p class="copyright">
        &copy; 2022 CARSRENTAL. Tous droits réservés
      </p>

    </div>

  </div>
</footer>
